{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <h4>You are now LOGGED IN</h4>
    {% endif %}
    {% for post in  object_list %}
    <div class = "post-entry-home">
        <h2>{{post.id}} -<a href="{%url 'blog:post_detail' pk=post.pk %}"> {{ post.title }}</a></h2>
    </div>
    {% endfor %}
    
    {% if not user.is_authenticated %}
        <h3><p>Don't have an account? <a href="{% url 'register:sign-up' %}">Create</a> one.</p></h3>
        <h4><p>Login <a href="/login">Here</a></p></h4>
    {% endif %}

{% endblock %}